* {
  font-family: "Fira Sans", sans-serif;
}

.bg-vector-svg {
  height: 721px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1080px;
  z-index: -1;
}

h2 {
  ine-height: 125% !important;
}

.hero-section {
  min-height: 70vh;
}
.hero-heading {
  line-height: 125%;
}

.features {
  min-height: 200px;
}

.h-img-2 {
  width: 340px;
}

.cta {
  background-color: #ff7a17;
  padding: 12px 32px;
  color: white;
  border-radius: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}

.f-num {
  font-weight: bolder;
  -webkit-text-stroke: 2px #003da4;
  color: white;
}

.video-section {
  min-height: 500px;
  background: linear-gradient(
    180deg,
    rgba(0, 47.42, 127.5, 0.78) 0%,
    rgba(0, 32, 87, 0.96) 79.19%,
    rgba(0, 31, 85) 100%
  );
  overflow: hidden;
}
.vid-title {
  text-align: center;
  max-width: 760px;
}
.vid-img {
  max-width: 760px;
  width: 80vw;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05));
}
.play-btn {
  transition: 0.5s filter;
  -webkit-box-reflect: below 0px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03));
}
.play-btn:hover {
  filter: invert();
}
.pl-traingle {
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
